html, body {
   margin: 0;
   height: 100%;
   width: 100%;
   box-sizing: border-box;
   font-family: Menlo, Consolas, monospace;
   font-size: 18px;
}

body {
   background-color: papayawhip;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

p {
   text-align: center;
}

.backtick {
   background-color: #c7a776;
   border-radius: 2px;
   padding: 0 2px;
}

#buttongroup {
   margin-top: 1%;
   margin-bottom: 3%;
}

button {
   cursor: pointer;
   padding: 5px 10px;
   border: 2px solid #a37a4c;
   background-color: #c7a776;
   font-family: inherit;
}

button:hover {
   background: transparent;
}

#time {
   font-size: 30px;
}

@keyframes time-paused {
   from { text-decoration: underline overline transparent; }
   to { text-decoration: underline overline black; }
}

.clock-paused {
   animation: time-paused .5s alternate infinite;
}
